*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #11151C;
  font-family: Verdana, Helvetica, sans-serif;
  color: #fffcf2;
  font-size: 16px;
  z-index: 
}

header{
  width: 100vw;
  background-color: #7d4e57;
  text-transform: uppercase;
  text-align: right;
  position: fixed;
  padding: 10px;
  letter-spacing: 2px;
}
